# AWS Region
aws_region = "us-east-1"

# Named AWS CLI Profile (Preserves existing default profile)
aws_profile = "assignment-access-key"

# Environment
environment = "dev"
name_prefix = "devops-assignment"

# Dummy Domain for ACM SSL Certificate
dummy_domain_name = "app.devops-assignment.internal"

# Free-Tier Cost Controls
instance_type       = "t2.micro"
db_instance_class   = "db.t3.micro"
enable_nat_instance = true   # 100% Free-Tier NAT Instance ($0.00)
enable_nat_gateway  = false  # Keep false to prevent AWS Managed NAT Gateway charges ($32.40/month)

# Auto Scaling Group Sizing
asg_min_size         = 1
asg_max_size         = 2
asg_desired_capacity = 1

# Database Configuration
db_name     = "devops_db"
db_username = "admin"

# Listener Configuration
redirect_http_to_https = false
